<h1>Details</h1>
<%= render "form", task: @task %>
<%= link_to "Back to list", tasks_path %>
<%= link_to "Edit this task", edit_task_path %>
<%= link_to "Remove this task",
  task_path(@task.id),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
